<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>이글스 | Easy하게 글써지는 뉴스</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap-reboot.css">
    <script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.2.1/js/bootstrap.bundle.js"></script>
    <script src="/webjars/handlebars/4.0.11-1/handlebars.js"></script>
</head>
<style>
    .columns{
        columns: 3;
    }

    #floating-bar {
        height: 220px;
        width: 80px;
        position: fixed;
        right: 3%;
        top: 35%;
        margin: 0 0 0 110px;
        padding: 5px;
    }
    #floating-bar > button {
        height: 52px;
        width: 70px;
        margin-bottom: 5px; padding: 3px; border-radius: 7px;
    }

    #essaytitle{
        position: relative;
        background: #fff;
        text-align: center;
    }
    #essaytitle > .container {
        padding: 7em 0 3em 0;
        border-bottom: solid 2px #e5e5e5;
        box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5;
        text-align: center;
    }

    #essaytitle h3 {
        font-weight: 700;
        color: #ed786a;
        text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
        letter-spacing: 13px;
    }

    @media ( max-width: 1000px ) {
        #floating-bar{
            height: 80px;
            width: 45%;
            position:fixed;
            top:85%;
            bottom: 0;
            right: 25%;
            text-align: center;
            margin: 0 auto 0 auto;
        }
        #floating-bar > button{
            margin: 0 5px 0 5px;
            height: 52px;
            width: 20%;
            padding: 3px; border-radius: 7px;
            float: left;
        }
    }

    @media ( max-width: 800px ) {
        #floating-bar{
            width: 50%;
        }
        #floating-bar > button{
            font-size: 10pt;
        }
    }
    @media ( max-width: 670px ) {
        #floating-bar{
            right: 10%;
        }
    }
    @media ( max-width: 670px ) {
        #floating-bar{
            width: 70%;
        }
    }
    @media ( max-width: 600px ) {
        #floating-bar{
            right: 5%;
            width: 80%;
        }
        #floating-bar > button{
            font-size: 10pt;
        }
    }

</style>
<body class="no-sidebar is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <section id="essaytitle">
        <div class="container">
            <!-- Logo -->
            <h3 style="word-break: keep-all">{{title}}</h3>
            <p style="text-align: center; margin-bottom: 2px">
                {{#if category0}} {{category0}} {{/if}}
                {{#if category1}} / {{category1}} {{/if}}
                {{#if category2}} / {{category2}} {{/if}}
                {{#if category3}} / {{category3}} {{/if}}
                {{#if category4}} / {{category4}} {{/if}}
                {{#if category5}} / {{category5}} {{/if}}
                {{#if category6}} / {{category6}} {{/if}}
                {{#if category7}} / {{category7}} {{/if}}
                {{#if category8}} / {{category8}} {{/if}}
            </p>
            <p style="text-align: center; margin-bottom: 2px">{{#if byline}}
                {{byline}} /
            {{/if}} {{provider}} / {{published_at}}</p>
            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a class="icon fa-calendar" href="/year-keyword"><span>기간별 토픽</span></a>
                    </li>
                    <li><a class="icon fa-align-center"><span>논술 기출</span></a>
                        <ul>
                            <li><a>대학별 기출</a>
                                <ul>
                                    <div class="columns">
                                        <li><a>가톨릭대(경기)</a></li>
                                        <li><a>가톨릭대(서울)</a></li>
                                        <li><a>건국대(서울)</a></li>
                                        <li><a>경기대(경기)</a></li>
                                        <li><a>경기대(서울)</a></li>
                                        <li><a>경북대</a></li>
                                        <li><a>경희대</a></li>
                                        <li><a>광운대</a></li>
                                        <li><a>단국대</a></li>
                                        <li><a>덕성여대</a></li>
                                        <li><a>동국대(서울)</a></li>
                                        <li><a>부산대</a></li>
                                        <li><a href="/seogang">서강대</a></li>
                                        <li><a>서울과기대</a></li>
                                        <li><a>서울시립대</a></li>
                                        <li><a>서울여대</a></li>
                                        <li><a>성균관대</a></li>
                                        <li><a>성신여대</a></li>
                                        <li><a>세종대</a></li>
                                        <li><a href="/sookmyung">숙명여대</a></li>
                                        <li><a>숭실대</a></li>
                                        <li><a>아주대</a></li>
                                        <li><a>연세대(서울)</a></li>
                                        <li><a>연세대(원주)</a></li>
                                        <li><a>인하대</a></li>
                                        <li><a>중앙대(서울)</a></li>
                                        <li><a>중앙대(안성)</a></li>
                                        <li><a>한국기술교육대</a></li>
                                        <li><a>한국산업기술대</a></li>
                                        <li><a>한국외대</a></li>
                                        <li><a>한양대(서울)</a></li>
                                        <li><a>한양대(ERICA)</a></li>
                                        <li><a>홍익대</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <a>영역별 기출</a>
                                <ul>
                                    <li><a>경상</a></li>
                                    <li><a>예체능</a></li>
                                    <li><a>인문(사회)</a></li>
                                    <li><a>영어</a></li>
                                    <li><a>통계도표</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li> <!-- 여기까지 첫번째 상단바 메뉴 -->

                    <li>
                        <a href="#" class="icon fa-info"><span>입시정보</span></a>
                        <ul>
                            <li>
                                <a>보도자료</a>
                                <ul>
                                    <li><a>대학별 보도</a></li>
                                    <li><a>교육업체 • 학원</a></li>
                                    <li><a>정부 • 공공기관</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>대학소식</a>
                                <ul>
                                    <li><a>논술전형 공지</a></li>
                                    <li><a>논술 가이드</a></li>
                                    <li><a>모의논술 공지</a></li>
                                    <li><a>수능최저등급 기준</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li> <!-- 여기까지 두번째 상단바 메뉴 -->

                    <li><a class="icon fa-user" ><span>함께 공부하기</span></a>
                        <ul>
                            <li><a>스터디 • 모임</a></li>
                            <li><a>학원 • 과외</a></li>
                            <li><a>튜터링 신청</a></li>
                        </ul>
                    </li> <!-- 여기까지 세번째 상단바 메뉴 -->

                </ul>
            </nav>

        </div>
    </section>

    <!-- Main -->
    <section id="main" style="padding-top: 10px">
        <div class="container">
            <div id="content">
                <!-- Post -->
                <article class="box post">
                    <img src="{{images}}" alt="">
                    <p style="width:100%; word-break: normal; white-space: pre-line">{{content}}</p>
                </article>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <header>
                <h2>내일의 꿈으로 비상하게 해줄 <strong>오늘의 ❝이글스❞</strong></h2>
            </header>
        </div>
        <div id="copyright" class="container">
            <ul class="links">
                <li>&copy; 한와. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </section>
    <div id="floating-bar">
        <button onclick="location.href='/'">Home</button>
        <button style="">기사<br>스크랩</button>
        <button style="">키워드<br>스크랩</button>
        <button style="">Q&A</button>
    </div>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.2.1/js/bootstrap.bundle.js"></script>
<script src="/webjars/handlebars/4.0.11-1/handlebars.js"></script>
</body>
</html>