<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>이글스 | Easy하게 글써지는 뉴스</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap-reboot.css">
    <script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.2.1/js/bootstrap.bundle.js"></script>
    <script src="/webjars/handlebars/4.0.11-1/handlebars.js"></script>
</head>
<style>
    .columns{
        columns: 3;
    }

    #floating-bar {
        height: 220px;
        width: 80px;
        position: fixed;
        right: 3%;
        top: 35%;
        margin: 0 0 0 110px;
        padding: 5px;
    }
    #essaytitle{
        position: relative;
        background: #fff;
        text-align: center;
    }
    #essaytitle > .container {
        padding: 7em 0 3em 0;
        border-bottom: solid 2px #e5e5e5;
        box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5;
        text-align: center;
    }

    #essaytitle h1 {
        font-weight: 700;
        color: #ed786a;
        text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
        font-size: 3em;
        letter-spacing: 13px;
    }

</style>
<body class="no-sidebar is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <section id="essaytitle">
        <div class="container">
            <!-- Logo -->
            <h1 style="word-break: keep-all">검색 결과</h1>
            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a class="icon fa-align-center"><span>논술 기출</span></a>
                        <ul>
                            <li><a href="#">대학별 기출</a>
                                <ul>
                                    <div class="columns">
                                        <li><a href="#">가톨릭대(경기)</a></li>
                                        <li><a href="#">가톨릭대(서울)</a></li>
                                        <li><a href="#">건국대(서울)</a></li>
                                        <li><a href="#">경기대(경기)</a></li>
                                        <li><a href="#">경기대(서울)</a></li>
                                        <li><a href="#">경북대</a></li>
                                        <li><a href="#">경희대</a></li>
                                        <li><a href="#">광운대</a></li>
                                        <li><a href="#">단국대</a></li>
                                        <li><a href="#">덕성여대</a></li>
                                        <li><a href="#">동국대(서울)</a></li>
                                        <li><a href="#">부산대</a></li>
                                        <li><a href="#">서강대</a></li>
                                        <li><a href="#">서울과기대</a></li>
                                        <li><a href="#">서울시립대</a></li>
                                        <li><a href="#">서울여대</a></li>
                                        <li><a href="#">성균관대</a></li>
                                        <li><a href="#">성신여대</a></li>
                                        <li><a href="#">세종대</a></li>
                                        <li><a href="/sookmyung">숙명여대</a></li>
                                        <li><a href="#">숭실대</a></li>
                                        <li><a href="#">아주대</a></li>
                                        <li><a href="#">연세대(서울)</a></li>
                                        <li><a href="#">연세대(원주)</a></li>
                                        <li><a href="#">인하대</a></li>
                                        <li><a href="#">중앙대(서울)</a></li>
                                        <li><a href="#">중앙대(안성)</a></li>
                                        <li><a href="#">한국기술교육대</a></li>
                                        <li><a href="#">한국산업기술대</a></li>
                                        <li><a href="#">한국외대</a></li>
                                        <li><a href="#">한양대(서울)</a></li>
                                        <li><a href="#">한양대(ERICA)</a></li>
                                        <li><a href="#">홍익대</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <a href="#">영역별 기출</a>
                                <ul>
                                    <li><a href="#">경상</a></li>
                                    <li><a href="#">예체능</a></li>
                                    <li><a href="#">인문(사회)</a></li>
                                    <li><a href="#">영어</a></li>
                                    <li><a href="#">통계도표</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li> <!-- 여기까지 첫번째 상단바 메뉴 -->

                    <li>
                        <a href="#" class="icon fa-info"><span>입시정보</span></a>
                        <ul>
                            <li>
                                <a href="#">보도자료</a>
                                <ul>
                                    <li><a href="#">대학별 보도</a></li>
                                    <li><a href="#">교육업체 • 학원</a></li>
                                    <li><a href="#">정부 • 공공기관</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">대학소식</a>
                                <ul>
                                    <li><a href="#">논술전형 공지</a></li>
                                    <li><a href="#">논술 가이드</a></li>
                                    <li><a href="#">모의논술 공지</a></li>
                                    <li><a href="#">수능최저등급 기준</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li> <!-- 여기까지 두번째 상단바 메뉴 -->

                    <li><a class="icon fa-user" href="/left-sidebar"><span>함께 공부하기</span></a>
                        <ul>
                            <li><a href="#">스터디 • 모임</a></li>
                            <li><a href="#">학원 • 과외</a></li>
                            <li><a href="#">튜터링 신청</a></li>
                        </ul>
                    </li> <!-- 여기까지 세번째 상단바 메뉴 -->
                </ul>
            </nav>

        </div>
    </section>

    <section id="main" style="padding-top: 10px">
        <div class="container">
            <div id="content">
                <article class="box excerpt" style="text-align: left; padding: 30px; margin: 10px">
                    <h3><a href="/newspage?codeprovider={{title0provider}}&codedate={{title0date}}">{{title0}}</a></h3>
                    <p >{{title0hilight}}</p>
                    <p style="text-align: left">{{title0provider}} / {{title0published_at}}</p>
                </article>
                <article class="box excerpt" style="text-align: left; padding: 30px; margin: 10px">
                    <h3><a href="/newspage?codeprovider={{title1provider}}&codedate={{title1date}}">{{title1}}</a></h3>
                    <p >{{title1hilight}}</p>
                    <p style="text-align: left">{{title1provider}} / {{title1published_at}}</p>
                </article>
                <article class="box excerpt" style="text-align: left; padding: 30px; margin: 10px">
                    <h3><a href="/newspage?codeprovider={{title2provider}}&codedate={{title2date}}">{{title2}}</a></h3>
                    <p >{{title2hilight}}</p>
                    <p style="text-align: left">{{title2provider}} / {{title2published_at}}</p>
                </article>
                <article class="box excerpt" style="text-align: left; padding: 30px; margin: 10px">
                    <h3><a href="/newspage?codeprovider={{title3provider}}&codedate={{title3date}}">{{title3}}</a></h3>
                    <p >{{title3hilight}}</p>
                    <p style="text-align: left">{{title3provider}} / {{title3published_at}}</p>
                </article>
                <article class="box excerpt" style="text-align: left; padding: 30px; margin: 10px">
                    <h3><a href="/newspage?codeprovider={{title4provider}}&codedate={{title4date}}">{{title4}}</a></h3>
                    <p >{{title4hilight}}</p>
                    <p style="text-align: left">{{title4provider}} / {{title4published_at}}</p>
                </article>
                <article class="box excerpt" style="text-align: left; padding: 30px; margin: 10px">
                    <h3><a href="/newspage?codeprovider={{title5provider}}&codedate={{title5date}}">{{title5}}</a></h3>
                    <p >{{title5hilight}}</p>
                    <p style="text-align: left">{{title5provider}} / {{title5published_at}}</p>
                </article>
                <article class="box excerpt" style="text-align: left; padding: 30px; margin: 10px">
                    <h3><a href="/newspage?codeprovider={{title6provider}}&codedate={{title6date}}">{{title6}}</a></h3>
                    <p >{{title6hilight}}</p>
                    <p style="text-align: left">{{title6provider}} / {{title6published_at}}</p>
                </article>
                <article class="box excerpt" style="text-align: left; padding: 30px; margin: 10px">
                    <h3><a href="/newspage?codeprovider={{title7provider}}&codedate={{title7date}}">{{title7}}</a></h3>
                    <p >{{title7hilight}}</p>
                    <p style="text-align: left">{{title7provider}} / {{title7published_at}}</p>
                </article>
                <article class="box excerpt" style="text-align: left; padding: 30px; margin: 10px">
                    <h3><a href="/newspage?codeprovider={{title8provider}}&codedate={{title8date}}">{{title8}}</a></h3>
                    <p >{{title8hilight}}</p>
                    <p style="text-align: left">{{title8provider}} / {{title8published_at}}</p>
                </article>
                <article class="box excerpt" style="text-align: left; padding: 30px; margin: 10px">
                    <h3><a href="/newspage?codeprovider={{title9provider}}&codedate={{title9date}}">{{title9}}</a></h3>
                    <p >{{title9hilight}}</p>
                    <p style="text-align: left">{{title9provider}} / {{title9published_at}}</p>
                </article>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" style="margin: 0.75em 0 0.75em 0;">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">이전</span>
                    </a>
                </li>
                <li class="page-item">
                    <div class="page-link" onclick="nextpage(0)">다음</div>
                </li>
            </ul>
        </nav>
    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <header>
                <h2>내일의 꿈으로 비상하게 해줄 <strong>오늘의 ❝이글스❞</strong></h2>
            </header>
        </div>
        <div id="copyright" class="container">
            <ul class="links">
                <li>&copy; 한와. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </section>

    <div id="floating-bar">
        <button onclick="location.href='/'" style="margin-bottom: 5px; width: 100%; height: 25%; padding: 3px; border-radius: 7px;">Home</button>
        <button style="margin-bottom: 5px; width: 100%; height: 25%; padding: 3px; border-radius: 7px;">기사<br>스크랩</button>
        <button style="margin-bottom: 5px;width: 100%; height: 25%; padding: 3px; border-radius: 7px;">키워드<br>스크랩</button>
        <button style="width: 100%; padding: 3px; height: 25%; border-radius: 7px;">Q&A</button>
    </div>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.2.1/js/bootstrap.bundle.js"></script>
<script src="/webjars/handlebars/4.0.11-1/handlebars.js"></script>
</body>
</html>