<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>이글스 | Easy하게 글써지는 뉴스</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap-reboot.css">
    <script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.2.1/js/bootstrap.bundle.js"></script>
    <script src="/webjars/handlebars/4.0.11-1/handlebars.js"></script>
</head>
<style>
    .columns{
        columns: 3;
    }

    #floating-bar {
        height: 220px;
        width: 80px;
        position: fixed;
        right: 3%;
        top: 35%;
        margin: 0 0 0 110px;
        padding: 5px;
    }
    #floating-bar > button {
        height: 52px;
        width: 70px;
        margin-bottom: 5px; padding: 3px; border-radius: 7px;
    }
    #essaytitle{
        position: relative;
        background: #fff;
        text-align: center;
    }
    #essaytitle > .container {
        padding: 7em 0 3em 0;
        border-bottom: solid 2px #e5e5e5;
        box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5;
        text-align: center;
    }

    #essaytitle h1 {
        font-weight: 700;
        color: #ed786a;
        text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
        font-size: 3em;
        letter-spacing: 13px;
    }

    #content a{
        text-decoration:none !important
    }
    @media ( max-width: 1000px ) {
        #floating-bar{
            height: 80px;
            width: 45%;
            position:fixed;
            top:85%;
            bottom: 0;
            right: 25%;
            text-align: center;
            margin: 0 auto 0 auto;
        }
        #floating-bar > button{
            margin: 0 5px 0 5px;
            height: 52px;
            width: 20%;
            padding: 3px; border-radius: 7px;
            float: left;
        }
    }

    @media ( max-width: 800px ) {
        #floating-bar{
            width: 50%;
        }
        #floating-bar > button{
            font-size: 10pt;
        }
    }
    @media ( max-width: 670px ) {
        #floating-bar{
            right: 10%;
        }
    }
    @media ( max-width: 670px ) {
        #floating-bar{
            width: 70%;
        }
    }
    @media ( max-width: 600px ) {
        #floating-bar{
            right: 5%;
            width: 80%;
        }
        #floating-bar > button{
            font-size: 10pt;
        }
    }
</style>

<body class="no-sidebar is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <section id="essaytitle">
        <div class="container">
            <!-- Logo -->
            <h4>2019학년 수시모집 논술 우수자 전형</h4>
            <h1 id="logo"><a style="word-break: keep-all">논술시험 문제지</a></h1>
            <h5>인문게열 1차 (경제경영)</h5>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a class="icon fa-calendar" href="/year-keyword"><span>기간별 토픽</span></a>
                    </li>
                    <li><a class="icon fa-align-center"><span>논술 기출</span></a>
                        <ul>
                            <li><a>대학별 기출</a>
                                <ul>
                                    <div class="columns">
                                        <li><a>가톨릭대(경기)</a></li>
                                        <li><a>가톨릭대(서울)</a></li>
                                        <li><a>건국대(서울)</a></li>
                                        <li><a>경기대(경기)</a></li>
                                        <li><a>경기대(서울)</a></li>
                                        <li><a>경북대</a></li>
                                        <li><a>경희대</a></li>
                                        <li><a>광운대</a></li>
                                        <li><a>단국대</a></li>
                                        <li><a>덕성여대</a></li>
                                        <li><a>동국대(서울)</a></li>
                                        <li><a>부산대</a></li>
                                        <li><a href="/seogang">서강대</a></li>
                                        <li><a>서울과기대</a></li>
                                        <li><a>서울시립대</a></li>
                                        <li><a>서울여대</a></li>
                                        <li><a>성균관대</a></li>
                                        <li><a>성신여대</a></li>
                                        <li><a>세종대</a></li>
                                        <li><a href="/sookmyung">숙명여대</a></li>
                                        <li><a>숭실대</a></li>
                                        <li><a>아주대</a></li>
                                        <li><a>연세대(서울)</a></li>
                                        <li><a>연세대(원주)</a></li>
                                        <li><a>인하대</a></li>
                                        <li><a>중앙대(서울)</a></li>
                                        <li><a>중앙대(안성)</a></li>
                                        <li><a>한국기술교육대</a></li>
                                        <li><a>한국산업기술대</a></li>
                                        <li><a>한국외대</a></li>
                                        <li><a>한양대(서울)</a></li>
                                        <li><a>한양대(ERICA)</a></li>
                                        <li><a>홍익대</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <a>영역별 기출</a>
                                <ul>
                                    <li><a>경상</a></li>
                                    <li><a>예체능</a></li>
                                    <li><a>인문(사회)</a></li>
                                    <li><a>영어</a></li>
                                    <li><a>통계도표</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li> <!-- 여기까지 첫번째 상단바 메뉴 -->

                    <li>
                        <a href="#" class="icon fa-info"><span>입시정보</span></a>
                        <ul>
                            <li>
                                <a>보도자료</a>
                                <ul>
                                    <li><a>대학별 보도</a></li>
                                    <li><a>교육업체 • 학원</a></li>
                                    <li><a>정부 • 공공기관</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>대학소식</a>
                                <ul>
                                    <li><a>논술전형 공지</a></li>
                                    <li><a>논술 가이드</a></li>
                                    <li><a>모의논술 공지</a></li>
                                    <li><a>수능최저등급 기준</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li> <!-- 여기까지 두번째 상단바 메뉴 -->

                    <li><a class="icon fa-user" ><span>함께 공부하기</span></a>
                        <ul>
                            <li><a>스터디 • 모임</a></li>
                            <li><a>학원 • 과외</a></li>
                            <li><a>튜터링 신청</a></li>
                        </ul>
                    </li> <!-- 여기까지 세번째 상단바 메뉴 -->

                </ul>
            </nav>

        </div>
    </section>

    <!-- Main -->
    <section id="main">
        <div class="container">
            <div id="content">
                <!-- Post -->
                <article class="box post">
                    <div class="col-6 col-lg-3 mb-2" style="float: left">
                        <button id="button1" style="width: 100%; margin-bottom: 10%; word-break: keep-all" >기출문제</button>
                    </div>
                    <div class="col-6 col-lg-3 mb-2" style="float: left">
                        <button id="button2" style="width: 100%; margin-bottom: 10%; word-break: keep-all">해설</button>
                    </div>
                    <div class="col-6 col-lg-3 mb-2" style="float: left">
                        <button id="button3" style="width: 100%; margin-bottom: 10%; word-break: keep-all">기사 읽기</button>
                    </div>
                    <div class="col-6 col-lg-3 mb-2" style="float: left">
                        <button id="button4" style="width: 100%; margin-bottom: 10%; word-break: keep-all">더 공부하기</button>
                    </div>
                    <!-- 기출문제 시작 -->
                    <div class="col-lg-12" style="margin: 0; float: left">
                        <div id="showHide1" style="display:block;">
                            <header>
                                <h2 style="font-weight: bold; text-align: center">계열문항1</h2><br />
                            </header>
                            <h3>&lt; 가 &gt;</h3>
                            <p>제시문
                                [가] 소득주도성장론의 핵심은 유효수요 부족을 고려하여 총수요 활성화의 필요성을 인식하는 데 있다.<br>
                                소득 분배의 양극화와 노동소득분배율의 하락이 경제 성장을 악화 시키지 않도록 기 본적인 소득 분배 및 불균형 문제를 해결하여
                                소비로 이어질 수 있도록 노동 소득의 틀을 마 련하고 총수요를 끌어올리는데 있다.<br>
                                또한 노동소득분배율의 개선 및 상승을 실질 임금 증가 를 통해 가계의 실질적인 가처분 소득을 높여 소비 근간을 만들고 내수를 확대하여,
                                총수요 측면이 활성화되는 이른바 임금을 통한 소득 분배와 성장의 선순환 하는 성장의 패러다임이 다.(…)<br>
                                노동소득의 평균소비성향을 살펴보면 소득하위집단의 평균소비 성향이 소득상위 집단의 약 두 배 가깝게 구매력 및 평균소비 성향이 높음을 알 수 있다.(…)<br>
                                따라서 최저임금제의 인 상은 임금소득 하위 집단의 노동소득분배율 증가로 이어져 이들의 절대적 소득 증대와 소득분 배에 기여하여
                                소비 탄력성을 크게하고 유효 수요를 활성화시키는 소득주도성장론의 궁극적인 목표를 달성할 수 있다.<br>
                                -[최저임금제도와 소득주도성장론].한송이(2015)
                                </p><br>
                            <h3>&lt; 나 &gt;</h3>
                            <p>최저임금이 우리 사회에 쏘아 올린 여파가 상당하다.<br>
                                취업포털 “000”가 자영업자 208명을 대상 으로 진행한 공동설문 조사에 의하면,
                                자영업자는 최저임금 인상 이후 4중고를 겪고 있는 것으로 나 타났다. 먼저 이들에게
                                “귀하가 운영하시는 점포에서는 올 초 최저임금 인상 이후 [아르바이트 직원 수]에 변화가 있었습니까?”라고 물었다.<br>
                                돌아오는 대답은 ‘변함없다’(50%)와 ‘줄었다’(48%)가 비슷한 비율이었다. 문제는 인건비였다.
                                응답자의 무려 61%가 지난해 대비 월평균 인건비가 늘었다고 답했 기 때문.<br>
                                이는 전년보다 줄거나(20%) 같은(19%) 비율의 합보다 1.5배 높은 것으로,
                                자영업자 10명 중 6명 이상이 최저임금 인상 이후 전년 대비 인건비가 늘었음을 토로했다.<br>
                                이는 자연스레 매출과 수익의 감소로 이어졌다. 전년대비 매출감소가 있다고 밝힌 자영업자는 전체의 53%,
                                수익감소는 이 보다 높은 64%에 달했다. 매출과 수익이 반대로 늘어난 경우는 각 6%, 4%에 불과했다.<br>
                                -[파이낸셜뉴스]. 2018.08.09. </p>
                            <h3>&lt; 다 &gt;</h3>
                            <p> 18일 한국노동연구원 월간노동리뷰 6월호에 실린 ‘근로시간 단축’ 보고서에 따르면 다른 조건이 일정하다는 가정 하에
                                주 52시간을 초과하는 노동시간을 계산해 채용 가능한 일자리 수를 분석한 결 과 근로시간 단축을 통해
                                300인 이상 사업체에 최대 1만5,400개의 일자리가 창출될 것으로 추산됐다.<br> (...)대기업은 이미 근로시간 단축 도입에 대비해왔다.
                                000 그룹은 주 52시간보다 더 나아가 주 35시간제를 올해 1월부터 도입했다. (…) 4대 그룹 관계자는
                                “대기업은 노사 협의에 따라 휴일 근로 수당을 현행법인 통상임금의 150% 이상을 주는 곳이 적지 않다”고 말했다.<br>
                                영향이 없다는 의미다. 중소기업은 상황이 크게 다르다. 000경제연구원은 기업이 주 최장 52시간 근로제를 도입 한 후
                                기존 생산량을 유지하기 위해 추가로 부담해야 하는 비용을 연간 12조1000억 원으로 집계 했다. 이 중 71%(8조600억 원)는
                                300인 미만 중소기업 부담이다. 구인난에 시달리는 영세 중소기 업은 인력 확보도 걱정이다.<br>
                                플라스틱 사출 및 도금 전문중소기업 대표는 “근로시간을 줄인 만큼 설비를 늘리든지 인력을 늘려야 한다.
                                비용은 늘어나고 올 사람 구하기도 힘드니 이중으로 어려운 상황”이라고 했다. 시간외수당에 의존해온 저임금자도 고민이 많다.
                                대형마트 계산원 B 씨는 “저 임금 근로자는 어쩔 수 없이 쉬는 것보다 일을 더 하고 돈으로 받고 싶다”고 했다.<br>
                                한 대기업 임 원은 “올해부터 운전기사 근로시간을 주 40시간에 맞춰봤다. 그러자 한때 5000만 원이던 기사 연 봉이
                                3600만 원으로 줄어들어 몰래 ‘투잡’을 알아본다고 하더라”라고 전했다.<br>
                                -[한국일보].2018.06.18. [동아일보]. 2018.02.28</p>
                            <h3>&lt; 라 &gt;</h3>
                            <p>
                                지난 7월부터 시작된 주 52시간 근무제 덕분에 백화점들의 숨통이 트였다.
                                15일 000백화점은 ‘주 52시간 근무제’ 시행 이후 평일 저녁 부쩍 늘어난 직장인 고객에 힘입어 매출이 크게 늘었다고 밝혔다.<br>
                                상당수의 직장인이 ‘저녁이 있는 삶’을 가지기 시작하면서 퇴근 후 백화점을 찾아 구매력이 늘었다는 해석이다.
                                백화점에 따르면 7월 한 달간 평일 오후 6시 이후 매출이 전달과 비교해 8.6% 증가했다.<br> 이는 같은 기간
                                전체 매출 신장률(2.8%)을 크게 웃도는 수치다.  특히 백화점의 주 고객층 인 3040 매출이 주 52시간 근무제 전후를
                                비교해 약 12%가량 증가하며 저녁 시간 매출 신장을 견 인했다.<br>  주변에 사무실이 밀집해 직장인들이 방문하기
                                편리한 3개 점포의 평일 저녁 매출은 전달 보다 5.8% 늘었고, 평일 저녁 6시 이후 비중은 전체 매출 가운데 약 25.1%를 차지했다.
                                000백화점 관계자는 “퇴근 시간이 앞당겨지면서 쇼핑을 평일 저녁에 하는 사람이 늘어난 것으로 보인다”며
                                “ 사 회 트렌드에 맞는 다양한 프로모션(판촉행사)을 기획하겠다”고 말했다.<br>
                                -[서울경제].2018.8.16
                            </p>
                            <h3>< 마 ></h3>
                            <p>
                                최저임금을 올리면 근로 빈곤층 임금이 당연히 올라간다. 하지만 수혜 대상은 중산층에 속하 는 근로자가 더 많다.<br>
                                최저임금 이하를 받는 저소득 근로자들의 분포 비중을 조사한 결과, 빈곤 가구 구성원은 24.3%인 반면 저소득 가구는 12.8%,
                                중산층 이상 가구원은 63%나 된다. 최저임 금을 인상할 경우 수혜가 중산층 가구 중심으로 돌아간다는 것이다.<br>
                                최저임금 적용 대상이 주로 청소년, 청년, 기혼 여성이라는 점이 가장 큰 원인으로 분석된다. 최저임금 미달자가
                                가족의 생계 를 책임지는 가구주가 아니라 청년 세대와 배우자를 비롯한 이른바 ‘부소득자(secondary earner)’ 가 많기 때문이라는 것이다.<br>
                                -[조선일보] 2016.07.15
                            </p>
                            <h3>< 바 ></h3>
                                <p>
                                    총수요 곡선은 국민 경제의 경제 주체들이 일정 기간에 각각의 물가에서 사고자 하는 총 량을 나타낸 그래프이다.<br>
                                    또한 총공급 곡선은 일정 기간에 각각의 물가에서 경제 주체들이 공 급하고자 하는 총량을 나타낸 그래프이다.
                                    총수요 곡선은 국내 총생산물에 대한 가계, 기업, 정부, 해외 부문의 수요량을 합한 총 수요량을 각각의 물가에 대응하여
                                    나타낸 그래프를 말한 다. 세로축에 물가, 가로축에 총생산(실질 GDP)을 나타낼 때 우하향하는 곡선으로 나타난다.<br>
                                    총공급 곡선은 세로축에 물가, 가로축에 총생산으로 나타낸 그래프에서 우상향하는 곡선으로 나타난다.
                                    이것은 물가가 상승하면 기업의 생산량이 증대되어 총공급량이 늘어나기 때문이다. 총수요 혹은 총공급을 구성하는
                                    항목의 변화가 일어나면 곡선의 이동으로 인해 새로운 균형점 으로 이동한다.<br>
                                    -[고등학교 경제] 교과서
                                </p>
                            <h3>< 사 ></h3>
                            <p>
                                예상보다 심각한 고용 부진에 한은의 고민이 커지고 있다. 7월 취업자수 증가폭이 5000 명에 불과한 것으로 나타나면서,
                                올해 연간 취업자수 증가폭이 10만명도 넘기 어렵다는 전망 이 나오면서다.<br>  지난 1월 경제 전망에서 한은은 올해 연간
                                취업자수 증가가 30만명에 이를 것으로 봤다.<br> 그러나 4월 수정 전망에서는 26만명으로, 7월 18만명으로 하향 조정했다.
                                그러 나 이마저도 달성이 불투명한 상황이다. (…)저조한 물가 추이도 한은 운신의 폭을 좁히고 있 다. 소비자물가는
                                유가 상승에 힘입어 보합세를 보이고 있으나, 근원물가가 3개월째 하락세를 기록 중이다. <br>올 들어 근원물가 상승률은
                                지난 1월 1.1%였다가 4월 1.4%까지 오른 후 떨어 지고 있다.<br>
                                -[아시아투데이].2018.08.20
                            </p>
                            <h4 class="mt-5">문제.
                                최저임금제도와 같은 [가]의 소득주도성장론과 관련된 정책과 근로시간단축의 실시로 인한 영 향을 [나]~[마]를 중심으로 설명하고 [바]를 이용하여
                                소득주도성장 정책 실시 이후 나타난 [사]의 현상을 설명하시오.</h4>
                        </div>

                        <div id="showHide2" style="display: none">
                            <!-- 해설 시작 -->
                            <h4>&lt;가&gt; 헨릭 입센 (김석만 역), 『민중의 적』, 범우사, 2006(1882), 제5막, 96-99쪽을 발췌 후 재구성</h4>
                            <p>제시문 &lt;가&gt;는 시민들에게 개발을 통해 부자로 만들어주겠다고 선동하는 시장과 주민들에 맞서
                                이를 저지하려는 스토크만 박사의 이야기이다. 시장은 마을이 휴양지로서 국제적으로 이름이 나고, 학교가 들어서고 고속도로가 건설되며 주택단지가 새로 조성되면 마을 주민들이 부자가 될 것이라
                                고 말한다. 이에 맞서 스토크만은 보고서를 들고 단상에 올라 온천이 오염되었다며 시장에 반대한
                                다. 하지만 주민들과 신문기자들은 스토크만의 말을 저지하며, 시민들 다수가 원하는 일이기 때문
                                에 당장 투표를 하자며 밀어붙인다. 스토크만은 소수의 권리를 주장하면서 자신의 의견을 굽히지
                                않는다. 제시문 &lt;가&gt;는 이러한 상황을 통해 충분한 민주적 참여가 보장되지 못하고 소수자 권리
                                가 침해되는 포퓰리즘 정치의 전형적인 문제점을 잘 보여주고 있다. </p>
                            <h4>&lt;나&gt; 서병훈, 『포퓰리즘』, 책세상, 2008, 137-140쪽을 발췌 후 재구성</h4>
                            <p>제시문&lt;나&gt;는 포퓰리스트의 특징을 정리하여 기술하고 있다. 포퓰리스트들은 직설적이고 단정
                                적인 어투를 사용하며, 문제를 단순화시키고 간단하고 직접적인 해법을 제시한다. 또한 장기적인
                                이익보다는 즉각적이고 가시적인 효과를 가져 오는 대안을 제시함으로써, 보통사람들이 쉽게 이해
                                하고 따르게 된다. 포퓰리스트들은 이런 방식으로 정치적 논쟁을 선점해버리고 소수의 의견을 반
                                인민적으로 규정함으로써 정치적 논쟁을 주도한다. 이런 과정을 통해 대중들이 현혹되고 민주적
                                의사형성과정이 왜곡된다는 점이 중요하다.</p>
                            <h4>&lt;다&gt; 존 개스틸, 피터 레빈 (장용창/ 허광진 역), 『시민의 이야기에 답이 있다』, 시그너처, 2018,
                                58-59쪽을 발췌 후 재구성</h4>
                            <p> 제시문 &lt;다&gt;는 민주주의가 보다 많은 사람들이 이성적인 토론에 자유롭게 참여하는 절차를 지
                                향해야 한다고 주장하고 있다. 전통적인 민주주의의 방식인 투표나 여론조사는 개인들의 선호가
                                고정되어 있다는 것을 전제하지만, 새로운 민주주의는 토론과 논쟁과정에서 변경될 수 있다는 점
                                을 전제한다. 이 과정에서 공동의 이익과 자원에 대한 합의가 형성될 수 있으며, 이를 통해 내려진
                                결정은 정당한 것으로 간주된다. 이것이 가능하도록 하는 토론의 장을 만들어 내는 제도적 조건을
                                만드는 것이 민주주의를 위한 과제인 것이다.</p>
                            <h4>[1회차 인문계열문항 1] 출제의도와 논제의 구성</h4>
                            <p>
                                - 문학작품과 포퓰리즘 이론을 통해 현대 민주주의의 문제를 파악할 수 있는지 평가함<br>
                                - 자유롭고 이성적 토론을 통해 합의에 도달하는 현대 심의 민주주의의 대안적 가능성을 이해하고 있
                                는지 평가함<br>
                                논제는 시장의 선동에 시민, 언론사 기자들이 합세하면서 포퓰리즘 정치가 형성되는 &lt;가&gt;의 문제
                                상황을, 포퓰리스트 정치의 특징이 기술된 &lt;나&gt;의 입장을 활용하여 분석하고, 심의민주주의를 제안하고 있는
                                &lt;다&gt;의 관점에서 대안을 제시하도록 요구한다. 이 논제에 대한 답을 구성하기 위해서는 아래와 같은
                                사고 과정을 거쳐 기술해야 한다.<br>
                                - &lt;가&gt;의 문제 상황을 이해한다.<br>
                                - &lt;나&gt;와 &lt;다&gt;의 논지를 이해한다.<br>
                                - &lt;나&gt;의 논지를 바탕으로&lt;가&gt;의 문제 상황을 분석한다.<br>
                                - &lt;다&gt;의 논지를 바탕으로 &lt;가&gt;와 &lt;나&gt;의 문제를 극복하고 대안을 제시한다.<br>
                            </p>
                            <h4>[1회차 인문계열문항 1] 답안 구성요소</h4>
                            <p>■ 답안의 기본 요소 <br>
                                - 내용이 질문의 요구사항을 충족하는가 <br>
                                - 답안의 구성이 논리적인가 <br>
                                - 언어 사용이 명확하고, 표현력이 있는가<br><br>
                                ■ 논제에 대한 답안의 내용은 다음의 조건을 충족해야 한다.<br>
                                ① 제시문 &lt;가&gt;의 문제 상황 이해<br>
                                - 시장과 시민, 신문기자의 포퓰리즘 선동<br>
                                - 스토크만의 소수 의견 묵살<br>
                                ∙ Key Word : 부자 시민, 온천 수질 오염, 마을의 생명, 스토크만 보고서, 투표, 다수의 원칙, 다수의 민중, 다수의 의견, 소수의 권리<br>
                                ② 제시문 &lt;나&gt;의 논지 파악<br>
                                - 포퓰리스트의 특징: 직설적, 단정적 어투, 문제 단순화, 즉각적 가시적 효과가 있는 대안 제시, 소수의견을 반민인민적인 것으로 간주<br>
                                ∙ Key Word : 직설적, 단정적 말투, 단순 정치, 이분법적 세계관, 이원화, 여기/지금, 즉각적인 일, 먼미래의 일, 간단명료하고 직접적인 대안, 인민의 진정한 대변자, 인민의 이익, 중장기적 과제, 타인의고통, 즉각적이고 가시적인 효과<br>
                                ③ &lt;나&gt;의 입장을 활용하여 &lt;가&gt;의 문제 상황을 분석하여 기술<br>
                                - &lt;가&gt;의 시장, 시민, 신문기자의 언행이 &lt;나&gt;의 포퓰리스트의 특징으로 설명될 수 있다는 점을 기술<br>
                                (단순히 &lt;가&gt;와 &lt;나&gt;의 입장을 순서대로 요약하는 것은 감점함)<br>
                                ④ &lt;다&gt;의 논지 파악<br>
                                - 선호와 의견이 고정되어 있다고 전제하고 투표로 의사결정을 하는 것의 한계 지적<br>
                                - 선호와 의견이 토론과 논쟁과정에서 변경될 수 있기 때문에 투표나 여론조사가 진정한 민주주의의방식이 아니라는 점을 비판<br>
                                ∙ Key Word: 합리적인 결정, 자유롭고 상호적인 이성적 토론, 다양한 목소리, 이성적 설명, 협력과 상호정당성, 고정된, 분명한, 일관된 선호, 공유된 이익, 공유된 자원, 합의의 형성, 선호체계의 변경, 시민성, 토론의 장<br>
                                ⑤ &lt;다&gt;의 논지를 바탕으로 &lt;가&gt;와 &lt;나&gt;의 문제 상황을 극복하는 대안을 제시<br>
                                - 스토크만의 소수의견을 존중하고 토론과 논쟁을 해야 함<br>
                                - 시민들의 의견이 토론과 논쟁과정에서 바뀔 수 있음<br>
                                - 투표를 밀어붙이기보다 이성적인 토론을 통해 마을 공동의 이익을 위해서는 무엇이 옳은지 충분히 논의해야 함<br>
                                - 진정한 민주주의를 위해서는 이러한 토론 절차를 제도화하는 것이 필요함<br>
                                (단순히 &lt;다&gt;의 진술을 요약하는 것은 의미 없음)<br>
                            </p>
                            <h4>[1회차 인문계열문항 1] 모범답안 예시</h4>

                            <p>
                                &lt;가&gt;에서 시장은 시민들에게 부자 시민으로 만들어주겠다며 온천과 리조트 개발 사업을 추진하고 있고
                                신문기자와 주민들도 이에 동조하고 있다. 이에 대해 스토크만 박사는 보고서를 근거로 온천 수질의 오염을 경고하며
                                마을의 생명을 지키자고 주장하고 있으나, 스토크만의 소수의견은 시장과 주민들에 의해 묵살당하고 있다. 이러한
                                모습이 &lt;나&gt;에서 제시된 포퓰리스트들의 행태로 설명될 수 있다. 스토크만은 수질 오염의 문제를 제시하지만,
                                시장과 주민들은 중장기적 문제보다는 당장의 마을의 이익을 위해 개발 사업이 중단되어서는 안된다고 주장한다.
                                그들은 찬성과 반대의 이분법 구도로 논점을몰고 가서, 즉각적이고 가시적인 인민의 이익을 내세워 투표를 밀어 붙이면서,
                                스토크만의 문제제기를 제지한다. 그들은 스토크만의 반대는 반인민적인 것으로 간주하면서 민중의 당면한 이익을 위해서
                                개발에 찬성해야 한다고 주장한다.<br> 이에 반해 제시문 &lt;다&gt;는 새로운 민주주의의 과제와 방향을 제시하고 있다.
                                &lt;가&gt;에서는 스토크만박사가 수질 오염 문제를 제기하며 마을의 생명을 지키자고 호소하지만 시장과 주민들에 의해
                                의견을개진할 기회조차 빼앗긴다. 하지만 민주주의에서는 여러 다양한 목소리들이 반영되어야 하며, 자유롭고 이성적인
                                토론을 통해 합의를 형성해 나가야 한다. 이러한 협력적 과정을 통해서 나온 결정이 정당한 것으로 간주되어야 한다.<br>
                                이러한 논의 과정에서 시민들이 애초에 가졌던 선호는 변경이 될 수 있다는 점이 중요하다. 제시문 &lt;가&gt;의 시민들이
                                일단은 온천과 리조트 개발에 찬성하지만, 만약 충분한 정보가 제공되고 이성적인토론을 거친다면, 장기적으로 무엇이
                                마을의 이익에 도움이 될 수 있는지 성찰할 수 있고 원래의 의견을 바꿀 수 있다는 것이다. 그러한 선호 변경의 가능성을
                                봉쇄하고 투표를 밀어붙이는 것은 진정한 민주주의에 반하는 것이다. 시민들이 논쟁을 거듭하면서 더 나은 논거들이
                                제시되고 공동의 이익을 위한합의에 도달할 수 있으며 한 논의 과정을 가능케 하는 제도적 조건을 마련하는 것이야말로
                                민주주의의 과제라고 할 수 있다.
                            </p>
                        </div>

                        <div id="showHide3" style="display: none">
                            <!-- 모범답안 시작 -->
                            <div class="col-lg-6" style="margin: 0; float: left">
                                <table>
                                    <tr><th><h3>스트레이트 기사</h3></th></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none!important" href="/newspage?codeprovider={{straight0provider}}&codedate={{straight0date}}">{{straight0title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none!important" href="/newspage?codeprovider={{straight1provider}}&codedate={{straight1date}}">{{straight1title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none!important" href="/newspage?codeprovider={{straight2provider}}&codedate={{straight2date}}">{{straight2title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none!important" href="/newspage?codeprovider={{straight3provider}}&codedate={{straight3date}}">{{straight3title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none!important" href="/newspage?codeprovider={{straight4provider}}&codedate={{straight4date}}">{{straight4title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none!important" href="/newspage?codeprovider={{straight5provider}}&codedate={{straight5date}}">{{straight5title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none!important" href="/newspage?codeprovider={{straight6provider}}&codedate={{straight6date}}">{{straight6title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none!important" href="/newspage?codeprovider={{straight7provider}}&codedate={{straight7date}}">{{straight7title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none!important" href="/newspage?codeprovider={{straight8provider}}&codedate={{straight8date}}">{{straight8title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none!important" href="/newspage?codeprovider={{straight9provider}}&codedate={{straight9date}}">{{straight9title}}</a></p>
                                    </td></tr>
                                </table>
                            </div>
                            <div class="col-lg-6" style="margin: 0; float: left">
                                <table>
                                    <tr><th><h3>칼럼, 사설</h3></th></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none" href="/newspage?codeprovider={{edit0provider}}&codedate={{edit0date}}">{{edit0title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none" href="/newspage?codeprovider={{edit1provider}}&codedate={{edit1date}}">{{edit1title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none" href="/newspage?codeprovider={{edit2provider}}&codedate={{edit2date}}">{{edit2title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none" href="/newspage?codeprovider={{edit3provider}}&codedate={{edit3date}}">{{edit3title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none; text-decoration:none" href="/newspage?codeprovider={{edit4provider}}&codedate={{edit4date}}">{{edit4title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none" href="/newspage?codeprovider={{edit5provider}}&codedate={{edit5date}}">{{edit5title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none" href="/newspage?codeprovider={{edit6provider}}&codedate={{edit6date}}">{{edit6title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none" href="/newspage?codeprovider={{edit7provider}}&codedate={{edit7date}}">{{edit7title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none" href="/newspage?codeprovider={{edit8provider}}&codedate={{edit8date}}">{{edit8title}}</a></p>
                                    </td></tr>
                                    <tr><td>
                                        <p><a style="text-align: center; text-decoration:none" href="/newspage?codeprovider={{edit9provider}}&codedate={{edit9date}}">{{edittitle}}</a></p>
                                    </td></tr>
                                </table>
                            </div>
                            <div style="width: 100%; text-align: right">
                                <button style="margin: 0 auto">기사 더보기</button>
                            </div>
                        </div>
                        <div id="showHide4" style="display: none;; text-align: center">
                            <iframe style="margin: 0 auto; width: 560px; height: 315px"src="https://www.youtube.com/embed/qC0hBLrWx8U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <p style="margin: 0 auto; text-align: center" >※해당 영상은 예시로 실제 기출에 대한 해설 영상이 아닙니다.</p>
                            <!-- 더 많은 서비스 연결 버튼 -->
                            <div style="margin-left: 7%">
                                <div class="col-md-4 " style="float: left; text-align: center">
                                    <img src="/images/nondangi.png" id="nondangi" style="width: 70%" />
                                    <br>
                                    <a href="#" style="text-align: center" >논단기</a>
                                </div>
                                <div class="col-md-4 " style="float: left; text-align: center">
                                    <img src="/images/morequestion.png" id="forquestion" style="width: 70%" />
                                    <br>
                                    <a href="#" style="text-align: center" >첨삭하기</a>
                                </div>
                                <div class="col-md-4 " style="float: left; text-align: center">
                                    <img src="/images/morevideo.png" id="morevideo" style="width: 70%" />
                                    <br>
                                    <a href="#" style="text-align: center" >더 많은 해설영상</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <header>
                <h2>관련 <strong>❝도서추천❞</strong></h2>
            </header>
            <div class="col-lg-12">
                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <a href="#">
                                <img class="d-block img-fluid" src="/images/book1.png" style="width:60%; height:60%; margin-left: auto; margin-right: auto" alt="First slide" >
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="#">
                                <img class="d-block img-fluid" src="/images/book2.png" style="width:60%; height:60%; margin-left: auto; margin-right: auto"alt="Second slide">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="#">
                                <img class="d-block img-fluid" src="/images/book3.png" style="width:60%; height:60%; margin-left: auto; margin-right: auto" alt="Third slide">
                            </a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="margin-left: 10%">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="margin-right: 10%">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
        <div id="copyright" class="container">
            <ul class="links">
                <li>&copy; 한와. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </section>
    <div id="floating-bar">
        <button onclick="location.href='/'">Home</button>
        <button style="">기사<br>스크랩</button>
        <button style="">키워드<br>스크랩</button>
        <button style="">Q&A</button>
    </div>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.2.1/js/bootstrap.bundle.js"></script>
<script src="/webjars/handlebars/4.0.11-1/handlebars.js"></script>
<script>
    $(document).ready(function () {
        $("#showHide1").show();
        $("#showHide2").hide();
        $("#showHide3").hide();
        $("#showHide4").hide();
    })
</script>
<script>
    $("#button1").click(function () {
        console.log("button1");
        $("#showHide1").show();
        $("#showHide2").hide();
        $("#showHide3").hide();
        $("#showHide4").hide();
    });
    $("#button2").click(function () {
        console.log("button2");
        $("#showHide1").hide();
        $("#showHide2").show();
        $("#showHide3").hide();
        $("#showHide4").hide();
    });
    $("#button3").click(function () {
        console.log("button3");
        $("#showHide1").hide();
        $("#showHide2").hide();
        $("#showHide3").show();
        $("#showHide4").hide();
    });
    $("#button4").click(function () {
        console.log("button4");
        $("#showHide1").hide();
        $("#showHide2").hide();
        $("#showHide3").hide();
        $("#showHide4").show();
    });

</script>
</body>
</html>