<!DOCTYPE HTML>
<!--
	Strongly Typed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>이글스 | Easy하게 글써지는 뉴스</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.2.1/css/bootstrap-reboot.css">
    <script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.2.1/js/bootstrap.bundle.js"></script>
    <script src="/webjars/handlebars/4.0.11-1/handlebars.js"></script>
</head>
<style>
    .columns{
        columns: 3;
    }

    #floating-bar {
        height: 220px;
        width: 80px;
        position: fixed;
        right: 3%;
        top: 35%;
        margin: 0 0 0 110px;
        padding: 5px;
    }
    #essaytitle{
        position: relative;
        background: #fff;
        text-align: center;
    }
    #essaytitle > .container {
        padding: 7em 0 3em 0;
        border-bottom: solid 2px #e5e5e5;
        box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5;
        text-align: center;
    }

    #essaytitle h1 {
        font-weight: 700;
        color: #ed786a;
        text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
        font-size: 3em;
        letter-spacing: 13px;
    }
</style>
<body class="no-sidebar is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <section id="essaytitle">
        <div class="container">
            <!-- Logo -->
            <h1 id="logo"><a >기간별 토픽</a></h1>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a class="icon fa-calendar" href="/year-keyword"><span>기간별 토픽</span></a>
                    </li>
                    <li><a class="icon fa-align-center"><span>논술 기출</span></a>
                        <ul>
                            <li><a href="#">대학별 기출</a>
                                <ul>
                                    <div class="columns">
                                        <li><a href="#">가톨릭대(경기)</a></li>
                                        <li><a href="#">가톨릭대(서울)</a></li>
                                        <li><a href="#">건국대(서울)</a></li>
                                        <li><a href="#">경기대(경기)</a></li>
                                        <li><a href="#">경기대(서울)</a></li>
                                        <li><a href="#">경북대</a></li>
                                        <li><a href="#">경희대</a></li>
                                        <li><a href="#">광운대</a></li>
                                        <li><a href="#">단국대</a></li>
                                        <li><a href="#">덕성여대</a></li>
                                        <li><a href="#">동국대(서울)</a></li>
                                        <li><a href="#">부산대</a></li>
                                        <li><a href="/seogang">서강대</a></li>
                                        <li><a href="#">서울과기대</a></li>
                                        <li><a href="#">서울시립대</a></li>
                                        <li><a href="#">서울여대</a></li>
                                        <li><a href="#">성균관대</a></li>
                                        <li><a href="#">성신여대</a></li>
                                        <li><a href="#">세종대</a></li>
                                        <li><a href="/sookmyung">숙명여대</a></li>
                                        <li><a href="#">숭실대</a></li>
                                        <li><a href="#">아주대</a></li>
                                        <li><a href="#">연세대(서울)</a></li>
                                        <li><a href="#">연세대(원주)</a></li>
                                        <li><a href="#">인하대</a></li>
                                        <li><a href="#">중앙대(서울)</a></li>
                                        <li><a href="#">중앙대(안성)</a></li>
                                        <li><a href="#">한국기술교육대</a></li>
                                        <li><a href="#">한국산업기술대</a></li>
                                        <li><a href="#">한국외대</a></li>
                                        <li><a href="#">한양대(서울)</a></li>
                                        <li><a href="#">한양대(ERICA)</a></li>
                                        <li><a href="#">홍익대</a></li>
                                    </div>
                                </ul>
                            </li>
                            <li>
                                <a href="#">영역별 기출</a>
                                <ul>
                                    <li><a href="#">경상</a></li>
                                    <li><a href="#">예체능</a></li>
                                    <li><a href="#">인문(사회)</a></li>
                                    <li><a href="#">영어</a></li>
                                    <li><a href="#">통계도표</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li> <!-- 여기까지 첫번째 상단바 메뉴 -->

                    <li>
                        <a href="#" class="icon fa-info"><span>입시정보</span></a>
                        <ul>
                            <li>
                                <a href="#">보도자료</a>
                                <ul>
                                    <li><a href="#">대학별 보도</a></li>
                                    <li><a href="#">교육업체 • 학원</a></li>
                                    <li><a href="#">정부 • 공공기관</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">대학소식</a>
                                <ul>
                                    <li><a href="#">논술전형 공지</a></li>
                                    <li><a href="#">논술 가이드</a></li>
                                    <li><a href="#">모의논술 공지</a></li>
                                    <li><a href="#">수능최저등급 기준</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li> <!-- 여기까지 두번째 상단바 메뉴 -->

                    <li><a class="icon fa-user" href="/left-sidebar"><span>함께 공부하기</span></a>
                        <ul>
                            <li><a href="#">스터디 • 모임</a></li>
                            <li><a href="#">학원 • 과외</a></li>
                            <li><a href="#">튜터링 신청</a></li>
                        </ul>
                    </li> <!-- 여기까지 세번째 상단바 메뉴 -->
                </ul>
            </nav>
            <div class="search-box-grid">
                <div></div>
                <div class="search-box-margin">
                    <form method="post" action="#">
                        <input id="keywordtext" type="text" placeholder=" 검색어를 입력해주세요.">
                    </form>
                </div>
                <div>
                    <input style="word-break: keep-all" type="submit" class="button icon fa-search" onclick="buttonClicked(); return false;" value="검색"/>
                </div>
            </div>

            <!--상세검색-->
            <div class="col-lg-12" style="margin-top: 1.5%; margin-left: 2.7%">
                <a id="table-btn" class="btn btn-outline-danger mb-2" style="width:80%;">상세검색 접기</a>
            </div>
            <div id="table" class ="col-md-12 text-wrap mb-3" style="display: none">
                <form name="sort-table">
                    <table class="table table-bordered"  align = "center">
                        <tr>
                            <th nowrap="nowrap" style="width: 150px; text-align: center"; bgcolor="#FFAEA6" >기간 선택</th>
                            <td>

                                <input id="radio" type="radio" name="term" value = "1일">1일&nbsp&nbsp&nbsp
                                <input id="radio" type="radio" name="term" value = "1주">1주&nbsp&nbsp&nbsp
                                <input id="radio" type="radio" name="term" value = "1개월">1개월&nbsp&nbsp&nbsp
                                <input id="radio" type="radio" name="term" value = "3개월">3개월&nbsp&nbsp&nbsp
                                <input id="radio" type="radio" name="term" value = "6개월">6개월&nbsp&nbsp&nbsp
                                <input id="radio" type="radio" name="term" value = "1년">1년&nbsp&nbsp&nbsp
                            </td>
                        </tr>
                        <tr>

                            <th nowrap="nowrap" style="width: 150px; text-align: center"; bgcolor="#FFAEA6" >직접 입력</th>
                            <td>
                                <input id="directFrom" name="directterm" type="text" placeholder="시작" class="col-lg-6" style="float: left">
                                <input id="directUntil" name="directterm" type="text" placeholder="끝" class="col-lg-6" style="float: left">
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: center"; bgcolor="#FFAEA6">통합분류</th>
                            <TD>
                                <input id="checkbox" type="checkbox" name="sort" class="check-all"><strong>전체</strong>&nbsp&nbsp&nbsp&nbsp
              <input id="checkbox" type="checkbox" name="sort" class="ab" value = "정치"> 정치&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="sort" class="ab" value = "경제"> 경제&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="sort" class="ab" value = "사회"> 사회&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="sort" class="ab" value = "문화"> 문화&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="sort" class="ab" value = "국제"> 국제&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="sort" class="ab" value = "지역"> 지역&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="sort" class="ab" value = "스포츠"> 스포츠&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="sort" class="ab" value = "IT_과학"> IT_과학&nbsp&nbsp&nbsp&nbsp
                            </TD>
                        </tr>
                        <td colspan="2" align = "center" bgcolor="#FFAEA6"><strong>언론사</strong></td>
                        <tr>
                            <th style="text-align: center">중앙지</th>
                            <TD>
                                <input id="checkbox" type="checkbox" name="paper" class="check-all-center"><strong>전체</strong>&nbsp&nbsp&nbsp&nbsp&nbsp

                                <input id="checkbox" type="checkbox" name="paper" class="center" value = "경향신문"> 경향신문&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="center" value = "국민일보"> 국민일보&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="center" value = "내일신문"> 내일신문&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="center" value = "동아일보"> 동아일보&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="center" value = "문화일보"> 문화일보&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="center" value = "서울신문"> 서울신문&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="center" value = "세계일보"> 세계일보&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="center" value = "조선일보"> 조선일보&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="center" value = "중앙일보"> 중앙일보&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="center" value = "한겨례"> 한겨례&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="center" value = "한국일보"> 한국일보&nbsp&nbsp&nbsp&nbsp
                            </TD>
                        </tr>
                        <tr>
                            <th style="text-align: center">경제지</th>
                            <TD>
                                <input id="checkbox" type="checkbox" name="paper" class="check-all-eco"><strong>전체</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                                <input id="checkbox" type="checkbox" name="paper" class="eco" value = "매일경제"> 매일경제&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="eco" value = "머니투데이"> 머니투데이&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="eco" value = "서울경제"> 서울경제&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="eco" value = "아시아경제"> 아시아경제&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="eco" value = "아주경제"> 아주경제&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="eco" value = "파이낸셜뉴스"> 파이낸셜뉴스&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="eco" value = "한국경제"> 한국경제&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="eco" value = "헤럴드경제"> 헤럴드경제&nbsp&nbsp&nbsp&nbsp

                            </TD>
                        </tr>
                        <tr>
                            <th style="text-align: center">지역종합지</th>
                            <TD>

                                <input id="checkbox" type="checkbox" name="paper" class="check-all-country"><strong>전체</strong>&nbsp&nbsp&nbsp&nbsp&nbsp

                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "강원도민일보"> 강원도민일보&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "강원일보"> 강원일보&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "경기일보"> 경기일보&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "경남도민일보"> 경남도민일보&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "경남신문"> 경남신문&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "경상일보"> 경상일보&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "경인일보"> 경인일보&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "광주매일신문"> 광주매일신문&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "광주일보"> 광주일보&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "국제신문"> 국제신문&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "대구일보"> 대구일보&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "대전일보"> 대전일보&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "매일신문"> 매일신문&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "무등일보"> 무등일보&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "부산일보"> 부산일보&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "영남일보"> 영남일보&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "울산매일"> 울산매일&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "전남일보"> 전남일보&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "전북도민일보"> 전북도민일보&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "전북일보"> 전북일보&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "제민일보"> 제민일보&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "중도일보"> 중도일보&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "중부매일"> 중부매일&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "중부일보"> 중부일보&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "충북일보"> 충북일보&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "충청일보"> 충청일보&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "충청투데이"> 충청투데이&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="country" value = "한라일보"> 한라일보&nbsp&nbsp&nbsp&nbsp
                            </TD>
                        </tr>
                        <tr>
                            <th style="text-align: center">방송사</th>
                            <TD>

                                <input id="checkbox" type="checkbox" name="paper" class="check-all-broad"><strong>전체</strong>&nbsp&nbsp&nbsp&nbsp&nbsp

                                <input id="checkbox" type="checkbox" name="paper" class="broad" value = "MBC"> MBC&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="broad" value = "OBS"> OBS&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="broad" value = "SBS"> SBS&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="broad" value = "YTN"> YTN&nbsp&nbsp&nbsp&nbsp
                            </TD>
                        </tr>
                        <tr>
                            <th style="text-align: center">전문지</th>
                            <TD>

                                <input id="checkbox" type="checkbox" name="paper" class="check-all-pro"><strong>전체</strong>&nbsp&nbsp&nbsp&nbsp&nbsp

                                <input id="checkbox" type="checkbox" name="paper" class="pro" value = "디지털타임스"> 디지털타임스&nbsp&nbsp&nbsp&nbsp
                                <input id="checkbox" type="checkbox" name="paper" class="pro" value = "전자신문"> 전자신문&nbsp&nbsp&nbsp&nbsp
                            </TD>
                        </tr>
                    </table>
                </form>
            </div> <!-- 테이블 -->
        </div>
    </section>

    <!-- Main -->
    <section id="main">
        <div class="container">
            <div id="content">
                <!-- Post -->
                <article class="box post">
                    <div class="col-lg-12">
                        <h3>정치</h3>
                        <p><a href="/newspage?codeprovider={{politics0provider}}&codedate={{politics0date}}">{{politics0title}}</a></p>
                        <p><a href="/newspage?codeprovider={{politics1provider}}&codedate={{politics1date}}">{{politics1title}}</a></p>
                        <p><a href="/newspage?codeprovider={{politics2provider}}&codedate={{politics2date}}">{{politics2title}}</a></p>
                        <p><a href="/newspage?codeprovider={{politics3provider}}&codedate={{politics3date}}">{{politics3title}}</a></p>
                        <p><a href="/newspage?codeprovider={{politics4provider}}&codedate={{politics4date}}">{{politics4title}}</a></p>
                        <p><a href="/newspage?codeprovider={{politics5provider}}&codedate={{politics5date}}">{{politics5title}}</a></p>
                        <p><a href="/newspage?codeprovider={{politics6provider}}&codedate={{politics6date}}">{{politics6title}}</a></p>
                        <p><a href="/newspage?codeprovider={{politics7provider}}&codedate={{politics7date}}">{{politics7title}}</a></p>
                        <p><a href="/newspage?codeprovider={{politics8provider}}&codedate={{politics8date}}">{{politics8title}}</a></p>
                        <p><a href="/newspage?codeprovider={{politics9provider}}&codedate={{politics9date}}">{{politics9title}}</a></p>
                        <button>더보기</button>
                        <hr class="mb-5" style="width: 100%">
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <h3>경제</h3>
                        <p><a href="/newspage?codeprovider={{economics0provider}}&codedate={{economics0date}}">{{economics0title}}</a></p>
                        <p><a href="/newspage?codeprovider={{economics1provider}}&codedate={{economics1date}}">{{economics1title}}</a></p>
                        <p><a href="/newspage?codeprovider={{economics2provider}}&codedate={{economics2date}}">{{economics2title}}</a></p>
                        <p><a href="/newspage?codeprovider={{economics3provider}}&codedate={{economics3date}}">{{economics3title}}</a></p>
                        <p><a href="/newspage?codeprovider={{economics4provider}}&codedate={{economics4date}}">{{economics4title}}</a></p>
                        <p><a href="/newspage?codeprovider={{economics5provider}}&codedate={{economics5date}}">{{economics5title}}</a></p>
                        <p><a href="/newspage?codeprovider={{economics6provider}}&codedate={{economics6date}}">{{economics6title}}</a></p>
                        <p><a href="/newspage?codeprovider={{economics7provider}}&codedate={{economics7date}}">{{economics7title}}</a></p>
                        <p><a href="/newspage?codeprovider={{economics8provider}}&codedate={{economics8date}}">{{economics8title}}</a></p>
                        <p><a href="/newspage?codeprovider={{economics9provider}}&codedate={{economics9date}}">{{economics9title}}</a></p>
                        <button>더보기</button>
                        <hr class="mb-5" style="width: 100%">
                    </div>
                    <div class="col-lg-12">
                        <h3>사회</h3>
                        <p><a href="/newspage?codeprovider={{society0provider}}&codedate={{society0date}}">{{society0title}}</a></p>
                        <p><a href="/newspage?codeprovider={{society1provider}}&codedate={{society1date}}">{{society1title}}</a></p>
                        <p><a href="/newspage?codeprovider={{society2provider}}&codedate={{society2date}}">{{society2title}}</a></p>
                        <p><a href="/newspage?codeprovider={{society3provider}}&codedate={{society3date}}">{{society3title}}</a></p>
                        <p><a href="/newspage?codeprovider={{society4provider}}&codedate={{society4date}}">{{society4title}}</a></p>
                        <p><a href="/newspage?codeprovider={{society5provider}}&codedate={{society5date}}">{{society5title}}</a></p>
                        <p><a href="/newspage?codeprovider={{society6provider}}&codedate={{society6date}}">{{society6title}}</a></p>
                        <p><a href="/newspage?codeprovider={{society7provider}}&codedate={{society7date}}">{{society7title}}</a></p>
                        <p><a href="/newspage?codeprovider={{society8provider}}&codedate={{society8date}}">{{society8title}}</a></p>
                        <p><a href="/newspage?codeprovider={{society9provider}}&codedate={{society9date}}">{{society9title}}</a></p>
                        <button>더보기</button>
                        <hr class="mb-5" style="width: 100%">
                    </div>
                    <div class="col-lg-12">
                        <h3>문화</h3>
                        <<p><a href="/newspage?codeprovider={{culture0provider}}&codedate={{culture0date}}">{{culture0title}}</a></p>
                        <p><a href="/newspage?codeprovider={{culture1provider}}&codedate={{culture1date}}">{{culture1title}}</a></p>
                        <p><a href="/newspage?codeprovider={{culture2provider}}&codedate={{culture2date}}">{{culture2title}}</a></p>
                        <p><a href="/newspage?codeprovider={{culture3provider}}&codedate={{culture3date}}">{{culture3title}}</a></p>
                        <p><a href="/newspage?codeprovider={{culture4provider}}&codedate={{culture4date}}">{{culture4title}}</a></p>
                        <p><a href="/newspage?codeprovider={{culture5provider}}&codedate={{culture5date}}">{{culture5title}}</a></p>
                        <p><a href="/newspage?codeprovider={{culture6provider}}&codedate={{culture6date}}">{{culture6title}}</a></p>
                        <p><a href="/newspage?codeprovider={{culture7provider}}&codedate={{culture7date}}">{{culture7title}}</a></p>
                        <p><a href="/newspage?codeprovider={{culture8provider}}&codedate={{culture8date}}">{{culture8title}}</a></p>
                        <p><a href="/newspage?codeprovider={{culture9provider}}&codedate={{culture9date}}">{{culture9title}}</a></p>
                        <button>더보기</button>
                        <hr class="mb-5" style="width: 100%">
                    </div>
                    <div class="col-lg-12">
                        <h3>국제</h3>
                        <p><a href="/newspage?codeprovider={{world0provider}}&codedate={{world0date}}">{{world0title}}</a></p>
                        <p><a href="/newspage?codeprovider={{world1provider}}&codedate={{world1date}}">{{world1title}}</a></p>
                        <p><a href="/newspage?codeprovider={{world2provider}}&codedate={{world2date}}">{{world2title}}</a></p>
                        <p><a href="/newspage?codeprovider={{world3provider}}&codedate={{world3date}}">{{world3title}}</a></p>
                        <p><a href="/newspage?codeprovider={{world4provider}}&codedate={{world4date}}">{{world4title}}</a></p>
                        <p><a href="/newspage?codeprovider={{world5provider}}&codedate={{world5date}}">{{world5title}}</a></p>
                        <p><a href="/newspage?codeprovider={{world6provider}}&codedate={{world6date}}">{{world6title}}</a></p>
                        <p><a href="/newspage?codeprovider={{world7provider}}&codedate={{world7date}}">{{world7title}}</a></p>
                        <p><a href="/newspage?codeprovider={{world8provider}}&codedate={{world8date}}">{{world8title}}</a></p>
                        <p><a href="/newspage?codeprovider={{world9provider}}&codedate={{world9date}}">{{world9title}}</a></p>
                        <button>더보기</button>
                        <hr class="mb-5" style="width: 100%">
                    </div>
                    <div class="col-lg-12">
                        <h3>IT&과학</h3>
                        <p><a href="/newspage?codeprovider={{it0provider}}&codedate={{it0date}}">{{it0title}}</a></p>
                        <p><a href="/newspage?codeprovider={{it1provider}}&codedate={{it1date}}">{{it1title}}</a></p>
                        <p><a href="/newspage?codeprovider={{it2provider}}&codedate={{it2date}}">{{it2title}}</a></p>
                        <p><a href="/newspage?codeprovider={{it3provider}}&codedate={{it3date}}">{{it3title}}</a></p>
                        <p><a href="/newspage?codeprovider={{it4provider}}&codedate={{it4date}}">{{it4title}}</a></p>
                        <p><a href="/newspage?codeprovider={{it5provider}}&codedate={{it5date}}">{{it5title}}</a></p>
                        <p><a href="/newspage?codeprovider={{it6provider}}&codedate={{it6date}}">{{it6title}}</a></p>
                        <p><a href="/newspage?codeprovider={{it7provider}}&codedate={{it7date}}">{{it7title}}</a></p>
                        <p><a href="/newspage?codeprovider={{it8provider}}&codedate={{it8date}}">{{it8title}}</a></p>
                        <p><a href="/newspage?codeprovider={{it9provider}}&codedate={{it9date}}">{{it9title}}</a></p>
                        <button>더보기</button>
                        <hr class="mb-5" style="width: 100%">
                    </div>
                </article>
            </div>
        </div>

    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <header>
                <h2>내일의 꿈으로 비상하게 해줄 <strong>오늘의 ❝이글스❞</strong></h2>
            </header>
        </div>
        <div id="copyright" class="container">
            <ul class="links">
                <li>&copy; 한와. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </section>
    <div id="floating-bar">
        <button onclick="location.href='/'" style="margin-bottom: 5px; width: 100%; height: 25%; padding: 3px; border-radius: 7px;">Home</button>
        <button style="margin-bottom: 5px; width: 100%; height: 25%; padding: 3px; border-radius: 7px;">기사<br>스크랩</button>
        <button style="margin-bottom: 5px;width: 100%; height: 25%; padding: 3px; border-radius: 7px;">키워드<br>스크랩</button>
        <button style="width: 100%; padding: 3px; height: 25%; border-radius: 7px;">Q&A</button>
    </div>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.2.1/js/bootstrap.bundle.js"></script>
<script src="/webjars/handlebars/4.0.11-1/handlebars.js"></script>
</body>
</html>